.category {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 20px;
}

.category-label {
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  flex-direction: column;
}

.products {
  border: 1px solid black;
  margin: 10px;
}
